<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notnotme.sketchup" >

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:name=".SketchApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.SketchViewActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.MainActivity"
            android:label="@string/app_name_viewer"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name_settings"
            android:theme="@style/AppTheme">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />

        </activity>

        <activity
            android:name=".egg.EggActivity"
            android:parentActivityName=".activity.SettingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Transparent"
            android:screenOrientation="portrait" />

        <provider
            android:exported="false"
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />

        </provider>

    </application>

</manifest>
